<form role="search" action="">
			<div class="form-group">
				<input type="text" [(value)]="txtUserSearchKey" class="form-control" placeholder="Search User" (keypress)="onTxtUserChange($event)" (change)="onTxtUserChange($event)" (keyup)="onTxtUserChange($event)">
        
			</div>
		</form>
<div class="sidebar-nav">
        <ul class="nav">
          <li *ngFor="let userObj of filteredUserList"><a href="#" (click)="UserSelected(userObj)"><span class="glyphicon glyphicon-user"></span> <app-user-details [user]="userObj"></app-user-details></a></li>                    
        
        
        </ul>
</div>