<h1>Checkbox</h1>
        <p>
            <label [class.selected]="cb1.checked">
                <input #cb1 type="checkbox" value="one" (change)="logCheckbox(cb1)"> One
            </label>
            <label [class.selected]="cb2.checked">
                <input #cb2 type="checkbox" value="two" (change)="logCheckbox(cb2)"> Two
            </label>
            <label [class.selected]="cb3.checked">
                <input #cb3 type="checkbox" value="three" (change)="logCheckbox(cb3)"> Three
            </label>
        </p>

        <h2>Log <button (click)="log=''">Clear</button></h2>
        <pre>{{log}}</pre>