<div class="panel panel-default articles" *ngIf="selectedUser !=undefined; else userNotSelectedBlock">
  <div class="panel-heading">
    <h3 *ngIf="selectedUser != undefined"> <span class="glyphicon glyphicon-user"></span> 
    <span > {{selectedUser.name}}</span>
      <span class="glyphicon glyphicon-th-large pull-right clickable panel-toggle panel-button-tab-left">Albums</span>
    </h3>
    <h3>

    </h3>
    
  </div>

  <div class="albumRow ">
    <app-album-details (testCheck)="testCheck($event)" [album]="albumObj" (albumSelected)="albumSelected($event)" *ngFor="let albumObj of selectedAblumList"></app-album-details>
  </div>
  <div style="clear:both;"></div>
  <div><button type="button" (click)="showPhoto()" class="btn button">Show photos</button></div>
  <div style="clear:both;"></div>
  <div class="photoviewer">
    <app-photo-viewer [albumsToShow]="albumsToShow"></app-photo-viewer>
  </div>
</div>

<ng-template #userNotSelectedBlock>
 <div>
  <h1>Select user from left navigation</h1>
</div>
</ng-template>
