
<div class="panel panel-default articles" style="margin-top:10px;">
  <div class="panel-heading">
   Album Photos
  </div>

  <div class="phViewer">

    <div class="pictureSlider">
        <div id="slider1" class="slider" *ngIf="visiblePhotoAlbum !=undefined">
            <img *ngFor="let pic of photoAlbum.photos" src="{{pic.thumbnailUrl}}" alt="test">
            <div class="slider1" *ngIf="photoAlbum !=undefined || visiblePhotoAlbum.photos !=undefined">

                <h3 style="margin-left:10px;">{{visiblePhotoAlbum.album.title}}</h3>
                <img *ngFor="let pic of visiblePhotoAlbum.photos" src="{{pic.thumbnailUrl}}" alt="pic.title">
            </div>

        </div>

    </div>

</div>

</div>    

